<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semilla.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @semilla.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@semilla.picture_url, :width => 200, :height => 200) if @semilla.picture.present? %>
</p>

<%= link_to 'Edit', edit_semilla_path(@semilla) %> |
<%= link_to 'Back', semillas_path %>
